<div id="imageView">
<h1>{{results.title}}</h1>
<h2><a href="/users/{{results.creator}}"><i class="fa-solid fa-user"></i></a> {{results.creator}}</h2>
<img src="/{{results.filename}}" alt="{{results.title}}" />
{{#if isAuth}}
{{#if isAuthor}}
<button>Edit</button>
<button>Delete</button>
{{else}}

{{#if hasLiked}}
<form action="/images/{{results.title}}" method="post">
<button type="submit"><i id="unlike" class="fa-regular fa-heart"></i></button>
</form>

{{else}}
<form action="/images/{{results.title}}" method="post">
<button type="submit"><i id="like" class="fa-regular fa-heart"></i></button>
</form>
{{/if}}

{{/if}}
{{/if}}
</div>