
<div id="mainFeed">
<h1>Main feed</h1>

{{#if images}}
  <ul>
    {{#each images}}
      <li id="image">
         <a href="/users/{{creator}}"><i class="fa-solid fa-user"></i> {{creator}}</a>
        <a href="/images/{{title}}"><h2>{{title}}</h2></a>
        {{!-- <p>{{description}}</p> --}}
        <img src="/{{filename}}" alt="{{title}}" />
       
      </li>
    {{/each}}
  </ul>
  <p id="filler"></p>
{{else}}
  <p>No images have been posted yet.</p>
{{/if}}
</div>
