<div id="mainFeed">
  <h1>Main feed</h1>

  {{#if images}}

    {{#if isAuth}}
    <form action="/mainFeed" method="post">
      <label for=""> Sort and filter</label>
      <select name="sort" id="">
        <option value="newest" selected>Newest</option>
        <option value="mostLiked">Most liked</option>
        <option value="oldest">Oldest posts</option>
        <option value="followers">Posted by the people you follow</option>
        
      </select>
      <button type="submit">Submit</button>
    </form>
    {{else}}
    <form action="/mainFeed" method="post">
      <label for=""> Sort and filter</label>
      <select name="sort" id="">
        <option value="newest" selected>Newest</option>
        <option value="mostLiked">Most liked</option>
        <option value="oldest">Oldest posts</option>

      </select>
      <button type="submit">Submit</button>
    </form>
    {{/if}}
    <ul>
      {{#each images}}
        <li id="image">
          <a href="/users/{{creator}}"><i class="fa-solid fa-user"></i>
            {{creator}}</a>
          <a href="/images/{{title}}"><h2>{{title}}</h2></a>
          <p>Number of
            <i class="fa-regular fa-heart"></i>:
            {{likesList.length}}</p>

          <a href="/images/{{title}}"><img src="data:image/jpeg;base64,{{img}}" alt="{{results.title}}" /></a>

        </li>
      {{/each}}
    </ul>
    <p id="filler"></p>
  {{else}}
    <p>No images have been posted yet.</p>
  {{/if}}
</div>