

<div id="search">
<h1>Search</h1>

<section id="findUser">
    <form action="/search" method="post">
    <label >Looking for a specific user or post? Find them!</label><br>
    <input type="text" name="keyword" minlength="3" required><br>
    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

</section>
{{#if error}}
<h3>{{error}}</h3>
{{else}}
{{#if resultsUser}}
<section id="resultsUser">
    {{#each resultsUser}}
    <a href="/users/{{username}}"><i class="fa-solid fa-user"></i></a>
    <h2>{{username}}</h2>
    
    {{/each}}
</section>
{{/if}}
{{#if resultsImage}}
<section id="resultsImage">
    {{#each resultsImage}}
    <a href="/images/{{title}}"><h2>{{title}}</h2></a>
<h2><a href="/users/{{creator}}"><i class="fa-solid fa-user"></i></a> {{creator}}</h2>
<a href="/images/{{title}}"><img src="data:image/jpeg;base64,{{img}}" alt="{{title}}" /></a>
{{/each}}
</section>

{{/if}}
{{/if}}

</div>