

<div id="search">
<h1>Search</h1>

<section id="findUser">
    <form action="/search" method="post">
    <label >Looking for a specific user or post? Find them!</label><br>
    <input type="text" name="keyword" minlength="3" required><br>
    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

</section>
{{#if error}}
<h3>{{error}}</h3>
{{else}}
{{#if resultsUser}}
<section>
    <h2>{{resultsUser.username}}</h2>
    <a href="/users/{{resultsUser.username}}"><i class="fa-solid fa-user"></i></a>
</section>
{{/if}}
{{#if resultsImage}}
<h2>{{resultsImage.title}}</h2>
<h2><a href="/users/{{resultsImage.creator}}"><i class="fa-solid fa-user"></i></a> {{resultsImage.creator}}</h2>
<img src="/{{resultsImage.filename}}" alt="{{resultsImage.title}}" />
{{/if}}
{{/if}}

</div>